<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>


    <form action="" method="post">
        <h1>Alta de usuario</h1>
        <label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre" placeholder="ingrese su nombre" required>
<br><label for="apellido">apellido</label> 
<input type="text" name="apellido" id="apellido" placeholder="ingrese su apellido"> <br>
<label for="Documento">DNI</label>
<input type="text" id="" placeholder="ingrese dni sin puntos"><br>
<label for="Edad">edad</label>
<input type="number" name="edad" id="edad" placeholder="edad"> <br>
<label for="sexo">sexo</label>
<select name="genero" id="genero">
    <option value="M">MASCULINO</option>
   <option value="F">femenino</option>
   <option value="O">otros</option> <br>
<label for="Altura">Altura</label>
<input type="number" name="Altura" id="Altura" step="0.01"><br>
<label for="email">email</label>
<input type="email" name="email" id="email"><br>
<label for="usuario">usuario</label>
<input type="usuario" name="usuario" id="usuario"><br>
<label for="password">contraseña</label>
<input type="password"><br>
<div>
<button name="guardar" id="guardar" type="submit">Guardar</button>
<button type="reset" name="cancelar" id="cancelar">cancelar</button>
</div>




    </form> 
</body>
</html>