<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/css/css/style.css">
</head>
<body>
    <header>
        <H1>bienvenidos a nuestro sitio web</H1>
        <nav>
            <ul>
                <li> <a href=""> inicio </a></li>
                <li> <a href="" > acerca de nosotros</a> </li>
                <li> <a href=""> contacto  </a></li>
            </ul>

        </nav>
    </header>
    <main>
<section>
    <h2>seccion 1</h2>
    <p> texto lorem </p>
    <article>

        <h3>texto articulo nro 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nisi explicabo officia possimus rem fuga dolore molestias dignissimos, minima ut corporis earum repellendus adipisci omnis, doloremque voluptatum hic fugit quas.</p>

    </article>
</section>
<section>
    <h2>seccion 2</h2>
    <p> texto lorem </p>
    <article>

        <h3>texto articulo nr2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nisi explicabo officia possimus rem fuga dolore molestias dignissimos, minima ut corporis earum repellendus adipisci omnis, doloremque voluptatum hic fugit quas.</p>

    </article>

</section>
<aside>
    <h3>aside </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, tempora. Cupiditate in maxime dolore? Voluptatem numquam iste, aperiam id tempore eveniet nobis praesentium cumque velit facere, sunt fuga odio doloribus.</p>
</aside> 
    </main>
    <footer>
        <p> footer creado en la clase global </p>
    </footer>
</body>
</html>