
* { text-align: center;}

body { margin: auto;}


header {
    background-color: aqua;
padding-top: 1px;

}
nav { margin: 0px;
    background-color: blueviolet;
    padding: 0px;

}

nav li{
    padding: 0px;
    margin: 0px;
}

 nav a:hover {
    
    color: antiquewhite;
 }
nav ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around; /* misma espacio entre los dos elementyos */
flex-wrap: wrap;
}

nav a { 
    text-decoration: none;
    display: block;
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
font-size:xx-large ;

}

main { background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
section {
    background-color: darkgoldenrod;
    margin: 10px;
    padding: 10px;
    max-width: 200px;
    min-height: 300px;


}

article {
    background-color: violet;
    margin: 10px;
    padding: 10px;
    min-height: 150px;

}

aside { 
    background-color: olivedrab;
margin: 10px;
padding: 10px;
max-width: 200px;
min-height: 300px;
}
footer {
    padding: 10px;
    background-color: aqua;}